.content {
  background: #fff;
  padding: 24px;
  margin: 0px;
  min-height: 100px;
  float: center;
  text-align: center;
  img {
    width: 50%;
    height: 50%;
    margin: auto;
  }
}
.header {
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  .logo {
    img {
      margin: 12px 25px 12px 10px;
    }
  }
  .menu {
    margin-right: 290px;
  }
  .user {
    display: flex;
    align-items: center;
    color: white;
    .userName {
      margin: 0px 15px 0px 10px;
    }
  }
}
